div
        {
            height: 60px;
            width: 100px;
            border-style: solid;
            border-radius: 10%;
            font-family:arial ; 
            border-color:rgb(241, 241, 241);
        }

        

        .div2
        {
          bottom: 22px; 
          left: 105px;
          position: relative;
          font-style:arial;
          color:black;
          
        }

        .cabeçalho
        {
            height: 40px;
            margin-bottom: 12px;
            border-style: solid;

        }

        .cabeçalho2
        {
          bottom: 22px; 
          left: 105px;
          position: relative;
          color:black;
 
        }

        .vermelho
        {
            color: red;
        }

         .cinza
         {
            background-color: rgb(231, 231, 231);
            height: 40px;
         }

         .azul
         {
            background-color: rgb(209, 222, 248);
            font-family:arial;
            color:rgb(61, 43, 226);
            border-color:rgb(241, 241, 241);
            text-align:center;
         }

         .semdata
         {
            color:white;
         }

         .semdata2
         {
            color:rgba(255, 255, 0, 0.904);
            background-color:rgba(255, 255, 0, 0.904);
            position: relative;
            margin-left: 105px;
            top: -23px;
            
         }

        .dom
        {
            background-color: rgba(255, 255, 0, 0.904);
            font-family:arial;
            color:red;
            border-color: rgb(241, 241, 241);
        }

        .sabado
        {
            height: 40px;
        }

        body
        {
            text-align: center;
            left:200px;
            margin-top: 100px;
            margin-left: 200px;
            text-align: center;
            font-family:arial;
        }

        .titulo
        {
            color:rgb(161, 161, 161);
            font-size: 70px; 
            margin-left: -220px;
        }
    